<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style_panel.css">
    <link rel="icon" type="image/png" href="../images/iconito2.ico">
    <script src="../Javascripts/barra_busqueda.js"></script>
    <link rel="stylesheet" href="../stylesheets/styles_index.css">
    <title> Reparatech Admin</title>
</head>
<body>
    <%- include("template/navbar_admin")%>
    <div class="fondo">
        <h1> <%= __('reg_con') %> </h1>
        <input type="text" id="busqueda" placeholder="<%= __('reg_pnom') %>" class="busqueda" title="Buscar contacto"/>
        <table class="tabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th><%= __('con_nombre') %></th>
                    <th><%= __('con_correo') %></th>
                    <th><%= __('con_telef') %></th>
                    <th><%= __('Mensaje') %></th>
                    <th>IP</th>
                    <th><%= __('Fecha') %></th>
                    <th><%= __('Pais') %></th>
                </tr>
            </thead>
            <tbody id="tabla-contactos">
                <% contacts.forEach(contact => { %>
                    <tr>
                        <td>
                            <p><%= contact.id %></p>
                        </td>
                        <td>
                            <p><%= contact.Nombre %></p>
                        </td>
                        <td>
                            <p><%= contact.Correo %></p>
                        </td>
                        <td>
                            <p><%= contact.Telefono %></p>
                        </td>
                        <td>
                            <p><%= contact.Mensaje %></p>
                        </td>
                        <td>
                            <p><%= contact.Ip %></p>
                        </td>
                        <td>
                            <p><%= contact.Fecha_Hora %></p>
                        </td>
                        <td>
                            <p><%= contact.Pais %></p>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <%- include("template/footer")%>
</body>
</html>