<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("template/google_analytics")%>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Servicios de Reparaci贸n de Laptos y Computadoras">
    <meta name="keywords" content="Reparaci贸n de computadores, Mantenimiento de PC, Servicio t茅cnico de computadoras, Reparaci贸n de laptops, Soluciones inform谩ticas, Diagn贸stico de hardware y software, Actualizaci贸n de equipos, Recuperaci贸n de datos, Optimizaci贸n de rendimiento">
    <meta name="author" content="Danilo Marin">
    <meta name="title"  content="ReparaTech">
    <meta name="OG:TITLE" content="REPARATECH">
    <link rel="stylesheet" href="./stylesheets/styles_index.css">
    <link rel="icon" type="image/ico" href="./images/iconito.ico">
    <title> Reparatech </title>
</head>
<body>
    <header>
        <div class="logotipo">
            <img loading="lazy" class="logo" src="./images/icono_barra.ico" alt="logo">
            <a class="titulo-nav" href="#home"> REPARATECH </a>
        </div>
        <nav class="barra-navegacion">
            <ul class="links-nav">
                <li> <a href="#home"> Home </a> </li>
                <li> <a href="#acercade"> Acerca De </a> </li>
                <li> <a href="#servicios"> Servicios </a> </li>
                <li> <a href="#testimonios"> Testimonios </a> </li>
                <li> <a href="#contacto"> Contacto </a> </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="seccion1-home" id="home">
            <div class="imagen1"></div>
            <div class="cuadrotext1">
                <h1 id="home"> REPARATECH </h1>
                <p> Soluciones r谩pidas y efectivas para tu computadora </p>
                <a href="#contacto"> <button> CONTACTANOS </button> </a> 
            </div>
        </section>
        <section class="seccion2-acercade" id="acercade">
            <div class="cuadrotext2">
                <h2> ACERCA DE </h2>
                <p> En Reparatech contamos con un equipo de expertos comprometidos con el funcionamiento 贸ptimo de tu computadora. </p> 
                <p> Con a帽os de experiencia en tecnolog铆a, nuestro objetivo es ofrecer soluciones eficientes para que sigas conectado sin interrupciones.</p>
                <p> Nuestro compromiso es tu satisfacci贸n. </p>
            </div>
            <div class="imagen2">
                <img loading="lazy" src="./images/imagen2.jpg" alt="Empleado reparando una laptop">
            </div>
        </section>
        <section class="seccion3-beneficios">
            <div class="imagen3"></div>
            <div class="cuadrotext3">
                <div>
                    <h2>  驴Por qu茅 elegirnos? </h2>
                    <p> Sabemos que tu computadora es esencial en tu d铆a a d铆a, por eso ofrecemos: </p>
                    <ol>
                        <li>Atenci贸n r谩pida y personalizada.</li>
                        <li>Precios accesibles sin costos ocultos.</li>
                        <li>Garant铆a en todas nuestras reparaciones.</li>
                        <li>Soporte t茅cnico confiable.</li>
                        <li>Disponibilidad de repuestos originales.</li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="seccion4-servicios" id="servicios">
            <h2> SERVICIOS </h2>
            <p class="text_3"> Seleccione el servicio que desea contratar </p>
            <div class="servicios">
                <aside id="bloque1" class="tarjetas">
                    <img loading="lazy"  src="./images/servicio1.jpg" alt="Chico reparando pantalla">
                    <a href="/pago/service?servicio=Reparacion_de_Hardware" title="Selecciona el servicio"> <h3> Reparaci贸n de Hardware </h3> </a>
                    <p> Reemplazo de piezas como pantallas, teclados y bater铆as, adem谩s de solucionar problemas en placas base y componentes, y mejorar el rendimiento con actualizaciones como discos SSD y memoria RAM.</p>
                </aside>
                <aside id="bloque2" class="tarjetas"> 
                    <img loading="lazy" src="./images/servicio2.jpg" alt="Chico usando pc">
                    <a href="/pago/service?servicio=Soluci贸n_de_Problemas_de_Software" title="Selecciona el servicio"> <h3> Soluci贸n de Problemas de Software </h3> </a>
                    <p>  Ofrecemos soluciones de software que incluyen la eliminaci贸n de virus y malware para proteger tu equipo, la instalaci贸n y actualizaci贸n de programas para mantener su estabilidad, y la recuperaci贸n de datos perdidos con herramientas avanzadas. </p>
                </aside>
                <aside id="bloque3" class="tarjetas"> 
                    <img loading="lazy" src="./images/servicio3.jpg" alt="Chico limpiando ua pc">
                    <a href="/pago/service?servicio=Mantenimiento_Preventivo" title="Selecciona el servicio"> <h3> Mantenimiento Preventivo </h3> </a>
                    <p>  Realizamos limpieza interna y externa para evitar sobrecalentamientos y mejorar la eficiencia del equipo. Optimizamos el sistema para maximizar la velocidad y garantizar un rendimiento fluido. Configuramos soluciones de seguridad y respaldo para proteger tus datos. </p>
                </aside>
            </div>
        </section>
        <section class="seccion5-testimonios" id="testimonios">
            <div class="cuadrotext5">
                <div>
                    <h2> TESTIMONIOS </h2>
                    <P> "Mi laptop ten铆a problemas de rendimiento, pero despu茅s del mantenimiento, funciona como nueva. 隆Incre铆ble servicio!"</p>
                    <p class="estrellas"> &#9733 &#9733 &#9733 &#9733 &#9733</p>
                    <p class="nom_testigos"> Carlos G  </p>
                    <p>"Gracias por la r谩pida respuesta y soluci贸n a mi problema. Excelente atenci贸n y precios accesibles."</P>
                    <p class="estrellas"> &#9733 &#9733 &#9733 &#9733 &#9733</p>
                    <p class="nom_testigos">  Ana M </p>
                </div>
            </div>
            <div class="imagen5"></div>
        </section>
        <section class="seccion6-contacto" id="contacto">
            <h2> Contactanos </h2>
            <div class="contacto">
                <div class="Formulario">
                    <form action="/contact#contacto" method="post">
                        <input class="campo" type="text" placeholder="Nombre" name="nombre" id="nombre" >
                        <% if (errores) { %>
                            <% errores.forEach(error => { %>
                                <% if (error.path === 'nombre') { %>
                                    <div class="cuadro_error"> <p class="error_mensaje"><%= error.msg %></p> </div>
                                <% } %>
                            <% }) %>
                        <% } %>
                        <input class="campo" type="email" placeholder="Correo" name="correo" id="correo" value="<%= datos?.correo || '' %>">
                        <% if (errores) { %>
                            <% errores.forEach(error => { %>
                                <% if (error.path === 'correo') { %>
                                    <div class="cuadro_error"> <p class="error_mensaje"><%= error.msg %></p> </div>
                                <% } %>
                            <% }) %>
                        <% } %>
                        <input class="campo" type="tel" placeholder="Tel茅fono" name="telefono" id="telefono" value="<%= datos?.telefono || '' %>">
                        <% if (errores) { %>
                            <% errores.forEach(error => { %>
                                <% if (error.path === 'telefono') { %>
                                    <div class="cuadro_error"> <p class="error_mensaje"><%= error.msg %></p> </div>
                                <% } %>
                            <% }) %>
                        <% } %>
                        <textarea class="mensaje" placeholder="Mensaje" name="comentario" id="comentario" value="<%= datos?.comentario || '' %>"></textarea>
                        <% if (errores) { %>
                            <% errores.forEach(error => { %>
                                <% if (error.path === 'comentario') { %>
                                    <div class="cuadro_error"> <p class="error_mensaje"><%= error.msg %></p> </div>
                                <% } %>
                            <% }) %>
                        <% } %>
                        <label class="recaptcha"> Marca la Casilla
                            <div class="g-recaptcha" data-sitekey="6LcMPEcrAAAAAMdmnGNBj2bey59YlazEimuxn8tG"></div>
                        </label>
                        <button type="submit" class="summit"> Enviar </button>
                    </form>
                </div>
                <div class="Informacion">
                    <div class="direccion">
                        <p>Av. Bol铆var, esquina con Calle Comercio Villa de Cura, Estado Aragua, Venezuela</p>
                    </div>
                    <div class="links">
                        <p> <strong> Email: </strong> <a class="correo" href="mailto:soporte@reparatech.com"> soporte@reparatech.com </a> </p>
                    </div>
                    <div class="links">
                        <strong> Tel茅fono:</strong> <a class="telefono" href="tel: +58 412-530-9218">+58 426-530-9218</a>
                    </div>
                    <div class="links">
                        <p class="horario"><strong> Horario: </strong> Lunes - Viernes 8:30 - 19:00</p>
                    </div>
                </div>
            </div>
        </section> 
    </main>
    <footer>
        <div class="social-iconos">
            <a href="https://www.youtube.com" target="_blank"><img loading="lazy" src="./images/youtube-icon.png" alt="YouTube"></a>
            <a href="https://www.instagram.com" target="_blank"><img loading="lazy" src="./images/instagram-icon.png" alt="Instagram"></a>
            <a href="https://www.whatsapp.com" target="_blank"><img loading="lazy" src="./images/whatsapp-icon.png" alt="WhatsApp"></a>
            <a href="https://www.facebook.com" target="_blank"><img loading="lazy" src="./images/facebook-icon.png" alt="Facebook"></a>
        </div>
        <p>漏2025 | Todos los derechos reservados </p>
    </footer>
</body>
</html>