<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="./stylesheets/Style_index.css">
</head>
<body>
    <h1 class="Titulo"> <%= texto %> </h1>
    <ul>
        <li> <%= nombre %> </li>
        <li> <%= apellido %></li>
        <li> <%= cedula %></li>
        <li> <%= seccion %></li>
    </ul>
</body>
</html>