<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="../images/iconito.ico">
    <link rel="stylesheet" href="../stylesheets/style_inicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../stylesheets/styles_index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title> Reparatech login </title>
</head>
<body>
    <%- include("template/navbar")%>
    <main>
        <div class="user"> 
        <div class="cuadro">
            <div class="img_user"></div>
            <h2> <%= __('login_title') %> </h2>
            <form action="/login/admin" class="Form" method="post" id="form">
                <input class="campi" type="text" placeholder="<%= __('login_user') %>" title="<%= __('login_puser') %>" name="user" id="user" required> 
                <input class="campi" type="password" placeholder="<%= __('login_pass') %>" title="<%= __('login_ppass') %>" name="password" id="password" required>
                <button class="campo2" type="submit"> <%= __('login') %> </button>
                <button class="sesion_google" onclick="window.location.href='/login/auth/google'"> <i class="fab fa-google"></i> <%= __('login_google') %> </button>
            </form>
        </div>
        </div>
    </main>
    <%- include("template/footer")%>
</body>
</html>