<footer>
    <div class="social-iconos">
        <a href="https://www.youtube.com" target="_blank"><img loading="lazy" src="../images/youtube-icon.png" alt="YouTube"></a>
        <a href="https://www.instagram.com" target="_blank"><img loading="lazy" src="../images/instagram-icon.png" alt="Instagram"></a>
        <a href="https://www.whatsapp.com" target="_blank"><img loading="lazy" src="../images/whatsapp-icon.png" alt="WhatsApp"></a>
        <a href="https://www.facebook.com" target="_blank"><img loading="lazy" src="../images/facebook-icon.png" alt="Facebook"></a>
    </div>
    <p> <%= __('derechos') %> </p>
    <form method="get" action="">
        <select name="lang" onchange="this.form.submit()" class="idioma">
            <option value="es" <%= locale === 'es' ? 'selected' : '' %>>🇻🇪 <%= __('es') %></option>
            <option value="en" <%= locale === 'en' ? 'selected' : '' %>>🇺🇸 <%= __('en') %></option>
            
        </select>
    </form>
</footer>